@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* Colores base */
	--color-background: #f2f5fb;
	--color-black: #2d2d2c;
	--color-white: #ffffff;

	/* Azul Horizonte */
	--color-azulhorizonte: #3467b0;
	--color-azulhorizonte-alt: #4585c6;
	--color-azulhorizonte60: #86a4d0;
	--color-azulhorizonte40: #aec3e0;

	/* Verde Vitalidad */
	--color-verdevitalidad: #86b545;
	--color-verdevitalidad-light: #a5d470;

	/* Grises */
	--color-gray600: #7a7a7a;
	--color-gray400: #b5b5b5;

	/* Tipografía */
	--font-size-heading1: 96px;
	--font-size-heading2: 24px;
	--font-size-heading3: 32px;
	--font-size-heading4: 48px;
	--font-size-body: 20px;

	--line-height-heading1: 100px;
	--line-height-heading2: 29px;
	--line-height-heading4: 58px;
	--line-height-body: 28px;

	/* Espaciado */
	--spacing-8: 8px;
	--spacing-10: 10px;
	--spacing-20: 20px;
	--spacing-40: 40px;
	--spacing-72: 72px;
}

html,
body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	max-width: 100vw;
}

body {
	font-family: "Montserrat", "Segoe UI", sans-serif;
}