---
import HeroSection from '../components/sections/HeroSection.astro';
import AboutSection from '../components/sections/AboutSection.astro';
import PromoSection from '../components/sections/PromoSection.astro';
import ValueProposalSection from '../components/sections/ValueProposalSection.astro';
import FeaturesSection from '../components/sections/FeaturesSection.astro';
import CoreModulesSection from '../components/sections/CoreModulesSection.astro';
import ModulesSection from '../components/sections/ModulesSection.astro';
import CtaSection from '../components/sections/CtaSection.astro';
import UseCasesSection from '../components/sections/UseCasesSection.astro';
import FaqSection from '../components/sections/FaqSection.astro';
import AppDownloadSection from '../components/sections/AppDownloadSection.astro';
import FooterSection from '../components/sections/FooterSection.astro';
import BackToTopButton from '../components/ui/BackToTopButton.astro';
import '../styles/global.css';
import bgImage from '../assest/common/image.png?url';
import logoIcon from '../assest/ddb6da78-cb69-4dc6-b81e-c8e7de675d82.svg?url';
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href={logoIcon} />
		<link rel="alternate icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Crediscore | Tu Puntaje, Tu Futuro Economico</title>
		<meta
			name="description"
			content="CrediScore es la infraestructura tecnologica lider en Venezuela que certifica tu reputacion comercial."
		/>
	</head>
	<body class="overflow-x-hidden bg-white text-[var(--color-black,#2d2d2c)] antialiased">
		<div class="relative w-full overflow-hidden">
			<!-- Imagen de fondo que scrollea con el contenido -->
			<img src={bgImage} alt="" class="pointer-events-none absolute inset-0 z-0 h-full w-full object-cover" />
			
			<main id="top" class="relative z-10 mx-auto min-h-screen w-full overflow-x-hidden">
				<HeroSection />
				<AboutSection />
				<PromoSection />
				<ValueProposalSection />
				<FeaturesSection />
				<CoreModulesSection />
				<ModulesSection />
				<CtaSection />
				<UseCasesSection />
				<FaqSection />
				<AppDownloadSection />
				<FooterSection />
			</main>
		</div>
		<BackToTopButton />
	</body>
</html>
