---
import PromoCarousel from '../molecules/PromoCarousel.astro';
import type { CardData } from '../atoms/PromoCard.astro';

export interface Props {
  cards: Array<CardData>;
  config?: {
    carouselHeight: string;
    carousel?: any;
  };
}

const { cards, config = { carouselHeight: "h-[450px]" } } = Astro.props;
---

<div class={`relative flex ${config.carouselHeight} w-full items-center justify-center`}>
  <PromoCarousel cards={cards} config={config.carousel} />
</div>
